body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: aqua;
  display: flexbox;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* flex-grow: 1; */
}
